/* Text Colors: */

.text-primary{
    color: #28a745;
}

.text-secondary{
    color: #0284d0;
}

/* button */
.btn{
    border: none;
    display: inline-block;
    border-radius: 5px;
    padding: 10px 25px;
    text-align: center;
    cursor: pointer;
}

.btn:hover{
    opacity: 0.9;
}

.btn-primary, .bg-primary{
    background: #28a745;
    color: #fff;
}

.btn-secondary, .bg-secondary{
    background: #0284d0;
    color: #fff;
}

.btn-dark, .bg-dark{
    background: #333;
    color: #fff;
}

.btn-light, .bg-light{
    background: #f4f4f4;
    color: #333;
}

.btn-outline{
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
}

/* flex-items */
.flex-items{
    display: flex;
    text-align: center;
    justify-content: center;
    height: 100%;
}

/* Child combinator - The > combinator selects nodes that are direct children of the first element. 
     Example: ul > li will match all <li> elements that are nested directly inside a <ul> element.  */
.flex-items > div{
    padding: 20px;
}

/* flex-cols */

/* this following class, is for the section who's its image needs to be in the right instead of the left */
/* the syntax: ".flex-cols.flex-reverse" is that for every ".flex-cols" there is a class ".flex-reverse" */
.flex-cols.flex-reverse .row{
    flex-direction: row-reverse;
}
.flex-cols .row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.flex-cols .col{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex:1;

}

.flex-cols .col .col-1,
.flex-cols .col .col-2{
    height: 100%;
}

.flex-cols .col .col-2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 30px;
}

.flex-cols img{
    width: 100%;
    height: 100%;
    /* works similar to background size img - its takes the all area but not stretched out - just cover the area */
    object-fit: cover;
}

.flex-cols h2{
    font-size: 40px;
    font-weight: 100;
}

.flex-cols h4{
    margin-bottom:10px;
}

.flex-cols p{
    margin: 20px 0;;
}

/* section header */
.section-header{
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* flex-grid */

.section-header h2{
    font-size: 40px;
    margin: 20px 0;
}

.section-padding{
    padding: 20px 20px 40px;
}

.flex-grid .row{
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.flex-grid .col{
    flex: 25%;
    max-width: 25%;
    padding:0 4px;
}